* {
  box-sizing: border-box;
}

.field {
  width: 100%;
  border-radius: 4px;
  background-color: #BABFBE;
  text-align: center;
} 

.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: #2EA690 !important;
}

.Mui-focused {
  color: #2EA690 !important;
}

.link {
  color: #000;
  margin: 0 0 0 auto;
  text-decoration: none;

  &:hover {
    cursor:pointer;
    color: #32D9BA;
    text-decoration:underline;
  }
}

.campos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.titulo {
  font-size: 30px;
  margin: 0;
}
