.visualizador-projetos {
  padding: 2rem;
  background-color: #fff;

  .titulo {
    text-align: center;
    font-size: 40px;
    color: rgb(29, 29, 29)
  }
}

.grupo-cards {
  background-color: #fff;
  padding: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;
  margin: auto;
}

.card {
  margin: 0 auto;
}