.card-login {
  height: min-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 1rem;
  padding: 1rem;
  margin: auto 0 0 auto;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: solid  #32D9BA;
}

@media screen and (max-width: 560px) {
  .card-login {
    margin: auto;
  }
}
